<template>
    <section>
        <b-row class="filter-row">
            <b-col>
                <b-form-select v-model="sortLang" :options="[
                    { value: '', text: '-- Lang --' },
                    { value: 'fr', text: 'FR' },
                    { value: 'en', text: 'EN' },
                ]" class="mb-2" @input="fetchMovies(1)" />
            </b-col>
            <b-col>
                <b-form-select v-model="sortYear" :options="years" class="mb-2"
                               @input="fetchMovies(1)" />
            </b-col>
            <b-col>
                <b-form-select v-model="sortBy" :options="[
                    { value: '', text: 'Sord by' },
                    { value: 'popularity.asc', text: 'Popolarity ASC' },
                    { value: 'popularity.desc', text: 'Popolarity DESC' },
                    { value: 'release_date.asc', text: 'Release date ASC' },
                    { value: 'release_date.desc', text: 'Release date DESC' },
                    ]" class="mb-3" @input="fetchMovies(1)"/>
            </b-col>
            <div class="icons">
                <i :class="{primary: view === 'list'}" @click="view = 'list'" class="fa fa-2x fa-list-ul" title="List view"></i>
                <i :class="{primary: view === 'grid'}" @click="view = 'grid'"  class="fa fa-2x fa-th" title="Grid View"></i>
            </div>
        </b-row>
        <section class="main-view">
            <div v-if="loading" style="text-align: center">
                <i class="fa fa-5x fa-spinner fa-spin"></i>
            </div>
            <b-row class="movies-container" v-else>
                <template v-if="view === 'grid'">
                    <b-col cols="2" v-for="m in movies" :key="m.id">
                        <movie-card :movie="m"></movie-card>
                    </b-col>
                </template>
                <template v-else>
                    <b-col cols="3" v-for="m in movies" :key="m.id">
                        <movie-list :movie="m"></movie-list>
                    </b-col>
                </template>

            </b-row>
            <b-row class="text-md-center">
                <b-col>
                    <b-button :disabled="loadingMore" variant="success" @click="fetchMovies(++page, true); loadingMore= true" class="_col-md">
                <span v-if="loadingMore">
                    Loading <i class="fa fa-spinner fa-spin"></i>
                </span>
                        <span v-else>Load more</span>
                    </b-button>
                </b-col>
            </b-row>

        </section>
    </section>
</template>

<script>
/* eslint-disable indent */
import MovieCard from './partials/MovieCard';
import MovieList from './partials/MovieList';
import Vuex from 'vuex';

export default {
	name: "MainContainer",
    props: ['searchTitle'],
	data: function () {
		return {
			view: 'list',
			loading: true,
			movies: [],
			page: 1,
			totalPages: 0,
            sortBy: '',
            sortYear: '',
            sortLang: '',
            loadingMore: false
		}
	},
	components: {
	    MovieCard,
		MovieList
	},
    watch: {
        getActiveGenres: function (n, o) {
            this.fetchMovies(1);
        },
        searchTitle: function (n, o) {
            if (n)
                this.search(n, false);
            else
                this.fetchMovies(1);
        }
    },
    computed: {
        ...Vuex.mapGetters(['getActiveGenres']),
        years: function () {
            const start = 2000, end = (new Date).getFullYear();
            let years = [{ value: '', text: 'Year' }];
            for (let i = end; i >= start; i --) {
                years.push(i);
            }
            return years;
        }
    },
	methods: {
	    handleSuccess: function (res, more) {
            this.loading = false;
            this.loadingMore = false;
            const data = JSON.parse(res);
            this.page = data.page || 1;
            this.totalPages = data.total_pages || 1;
            if (more) {
                this.movies = this.movies.concat(data.results);
            } else {
                this.movies = data.results || [];
            }
        },
		fetchMovies: function (page, more) {
			page = page || 1;
			more = more || false;
			this.loading = !more;
			var genreIds = [];
			if (this.searchTitle && this.searchTitle.length) {
			    return this.search(this.searchTitle, more);
            }
            this.getActiveGenres.map(n => { genreIds.push(n.id) })
			theMovieDb.discover.getMovies({
                page: page,
                sort_by: this.sortBy,
                year: this.sortYear,
                with_genres: genreIds.join(','),
                with_original_language: this.sortLang
            }, (res) => {
				this.handleSuccess(res, more);
			}, (err) => {
				this.loading = false;
				this.loadingMore = false;
				console.log('ERROR', err)
			})
		},
        search: function (title, more) {
            theMovieDb.search.getMovie({ query: title, year: this.sortYear }, (res) => {
                this.handleSuccess(res, more);
            }, (err) => {
                this.loading = false;
                this.loadingMore = false;
                console.log('ERROR', err)
            })
        }
	},
	mounted: function () {
		this.fetchMovies(1)
	}
}
</script>

<style scoped>
    .filter-row {
        margin-top: 15px;
        margin-bottom: 20px;
        float: right;
        margin-right: 15px;
    }

    .filter-row .icons {
        float: right;
    }

    .filter-row .icons i {
        margin-left: 10px;
        cursor: pointer;
    }
    .main-view {
        clear: both;
        overflow-y: auto;
        height: 80vh;
        padding-bottom: 200px;
    }
    .movies-container {
        /*display: flex;
        justify-content: space-around;
        flex-direction: column;*/
    }
</style>
