<template>
    <section class="player">
        <webview :src="iframe_src" disablewebsecurity style="width:100%;height:100%"></webview>
    </section>
</template>

<script>
let global_timeout = null;
let timer = null;
const video_player_style = `
    body,html {
        background-color:black;
    }
    body > * {
       //display: none!important;
    }
    video#the-real-video {
        display: block!important;
    }
    body > video {
        height: 100%;
        width: 100%;
        border: none;
        display: block;
    }
`;
export default {
	name: "Player",
	props: ['movieId'],
	data: function () {
		return {
		    playerBaseUrl: 'https://videospider.in/getvideo?key=34gTav6f6jg5I4h8&video_id=',
			video_length: null,
			loading_player: true,
			countdown: 60,
			js_executed: false,
			internet_speed: null,
			iframe_src: null
		}
	},
	methods: {
		playEpisode(time) {
			return `
                    console.log('executing js');
                    var page_video = document.querySelector("video");
                    var video = document.createElement('video');
                    video.setAttribute('src', page_video.src);
                    video.setAttribute('autoplay', true);
                    video.setAttribute('controls', true);
                    video.setAttribute('preload', 'auto');
                    video.setAttribute('id', 'the-real-video');
                    video.addEventListener('webkitfullscreenchange', () => {
                        console.log(document.webkitFullscreenElement !== null ? 'fullscreen' : 'normal_window');
                    });
                    let starting_point = ${time};
                    document.body.append(video);
                    console.log('loaded_player');
                    var timeout = setInterval(() => {
                        if(starting_point > video.currentTime){
                            video.currentTime = starting_point;
                        }
                        if(video.duration === video.currentTime) {
                            clearInterval(timeout);
                            timeout = 0;
                        };
                        console.log([video.currentTime, video.duration])
                    }, 1000);
                    video.play().then(video.currentTime === ${time});
                    window.onunload = () => {
                        clearInterval(timeout);
                    }
                `;
		}
	},
	beforeDestroy() {
		// clearTimeout(global_timeout);
		// clearInterval(timer);
	},
	mounted: function () {
		let webview = document.querySelector("webview");
		webview.addEventListener('did-finish-load', (e) => {
			const debug = process.env.NODE_ENV !== 'production';
			//if(debug) webview.openDevTools();
			if (this.js_executed) return;
			webview.insertCSS(video_player_style);
			webview.executeJavaScript(this.playEpisode(null));
			this.js_executed = true;
		});
		webview.addEventListener('console-message', (event) => {
			let { message } = event;
			if (message === 'loaded_player') {
				this.loading_player = false;
				// this.updateAnime(this.episode_number);
				// this.ADD_TO_WATCHING(this.animeDetails);
				return;
			}
			if (message === 'fullscreen' || message === 'normal') {
				// this.SET_WINDOW_MODE(message);
				return;
			}
			let msg = message.split(",");
			let current_time = Number(msg[0]);
			let length = Number(msg[1]);
			if (!this.video_length && !isNaN(length)) {
				this.video_length = length;
			}
			// if (!isNaN(current_time)) this.setAnimeCurrentTime(current_time); //the actual time that is emmited using console-message
		});
	},
	created: function () {
		if (!this.movieId)
		    this.$router.go(-1);

		this.internet_speed = navigator.connection.downlink;
		this.iframe_src = this.playerBaseUrl + this.movieId;
		if (!this.iframe_src) this.$router.push('/');
	}
}
</script>

<style scoped>
    .player {
        width: 100%;
        height: 100vh;
    }

    webview {
        width: 100%;
        height: 10vh;
        border: none;
    }
</style>
