<template>
    <b-row class="title-bar">
        <b-col class="align-self-center p-xl-4">
            <b-link v-if="showBackBtn" class="" @click="$router.go(-1)">
                <i class="fa fa-2x fa-arrow-left blockquote-footer"></i>
            </b-link>
        </b-col>
        <b-col class="align-self-center text-center"><h3>Streamer</h3></b-col>
        <b-col class="align-self-center text-lg-right px-5">
            <b-input v-if="showSearch" class="search-input" v-model="title" placeholder="Search movie ..." @change="search"></b-input>
        </b-col>
    </b-row>
</template>

<script>
export default {
	name: 'title-bar',
	props: {
		showBackBtn: {
			type: Boolean,
			default: false
		},
		showSearch: {
			type: Boolean,
			default: false
		}
	},
	data: function () {
		return {
			title: ''
		}
	},
	methods: {
		search: function () {
			this.$emit('search', this.title);
		}
	}
}
</script>

<style>
    .title-bar {
        height: 70px;
        position: fixed;
        overflow: hidden;
        right: 0;
        left: 0;
        padding-bottom: 10px;
    }

    .search-input {
        width: 150px;
        float: right;
        transition: width 0.2s;
        border: 2px dashed #f1f1f1;
        background: black;
        outline: none;
        color: #fff;
    }

    .search-input:focus {
        width: 250px;
        border: 2px dashed #f1f1f1;
        background: black;
        outline: none;
        color: #fff;
    }
</style>
