<template>
    <b-row class="top-categories align-items-xl-center scrollbar">
        <b-col class="category " v-for="item in getGenres" :key="item.id">
            <div class="text-center">
                <b-button :variant="isGenreActive(item) ? 'primary' : 'default'" class="btn-sm" @click="toggleGenre(item)">
                    <b-badge v-if="isGenreActive(item)" variant="light">&nbsp;</b-badge>
                    {{ item.name }}
                </b-button>
            </div>
        </b-col>
    </b-row>
</template>

<script>
/* eslint-disable indent */
import Vuex from 'vuex'

export default {
	name: 'top-categories',
	computed: {
		...Vuex.mapGetters(['getGenres', 'getActiveGenres']),
	},
    methods: {
        ...Vuex.mapActions(['toggleGenre']),
        isGenreActive: function (genre) {
            return this.getActiveGenres && this.getActiveGenres.filter(g => g.id === genre.id).length > 0 || false;
        }
    },
	mounted: function () {
		theMovieDb.genres.getMovieList({}, (res) => {
			this.$store.commit('setGenres', JSON.parse(res).genres || []);
		}, (err) => {
			console.log(err)
		})
	}
}
</script>

<style scoped>
    button.btn.btn-sm.btn-default {
        border-radius: 50px;
        padding: 5px 15px;
        outline: none;
        background-color: #8d90d2;
        font-weight: 500;
        color: beige;
    }
</style>
<style>
    .badge {
        width: 10px;
        height: 10px;
        border-radius: 20px;
        color: #fff;
        background-color: #77fd16;
        vertical-align: middle;
    }
    .top-categories {
        height: 70px;
        padding-top: 20px;
        padding-bottom: 40px;
        overflow-x: auto;
        position: relative;
        border: 2px solid var(--primary);
        margin: 0;
        list-style: none;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        overflow-y: hidden;
    }

    .top-categories .category {
        float: left;
    }
</style>
