@import './color.css';
html {
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}
* {
	-webkit-transition: 300ms;
	transition: 300ms;
}
body {
	font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #fff;
	overflow-y: hidden;
    background: url("/static/bg.jpg") no-repeat;
    background-size: cover;
}
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}
.btn, .pointer {
	cursor: pointer;
}
.primary {
	color: var(--primary);
}
.secondary {
	color: var(--secondary);
}
.btn-primary {
	background-color: var(--primary);
	color: #fff;
}
.btn-secondary {
	background-color: var(--secondary);
	color: #000;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #1b1d1c;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #1b1d1c;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


