<template>
    <section style="overflow: hidden">
        <title-bar :showBackBtn="true"></title-bar>
        <i v-if="loading" class="fa fa-5x fa-spin fa-spinner"></i>
        <div v-if="!loading && movie">
            <b-row style="margin-top: 50px">
                <b-col cols="6" class="left-side">
                    <img :src="getImageUrl(movie)" alt="">
                </b-col>
                <b-col cols="6" class="right-side">
                    <h4>{{ movie.original_title }}</h4>
                    <h4 class="sub-text">
                        Release Date: {{ movie.release_date }} <br>
                        <!--Rating: PG-13 <br>-->
                    </h4>
                    <table class="text-dark">
                        <tbody><tr><td>Year </td>  <td>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;</td><td>{{ movie.release_date }}</td></tr>
                        <tr><td>By </td>    <td>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;</td><td>{{ getMovieProductionCompanies(movie).join(',') }}</td></tr>
                        <tr><td>Genre </td><td>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;</td><td>{{ getMovieGenres(movie).join(',') }}</td></tr>
                        <tr><td>Languages </td><td>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;</td><td>{{ getMovieSpokenLangs(movie).join(',') }}</td></tr>
                        <tr><td>Time </td><td>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;</td><td>{{ movie.runtime + ' mins.' }}</td></tr>
                        <!--<tr><td>Budget </td><td>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;</td><td>$220 000 000</td></tr>-->
                        <tr><td>Adult </td>   <td>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;</td><td><span class="detailed-text">{{ movie.adult ? 'Yes' : 'No' }}</span></td></tr>
                        </tbody></table>
                    <br>
                    <p> {{ movie.overview }} <br> </p>
                    <div class="detailed">
                        Rating:&nbsp;&nbsp;
                        <!--TODO fix rates-->
                        <!--<rate :length="5" :readonly="true" :value="movie.vote_average"/>-->
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span class="imdb">IMDb &nbsp;<b>/  {{ movie.vote_average }}</b></span>
                    </div>
                    <p>
                        <b-link :to="{ name: 'movies-player-id', params: { id: movie.imdb_id } }" class="btn btn-danger pull-right m-xl-5">Watch now</b-link>
                    </p>
                </b-col>
            </b-row>
        </div>
    </section>
</template>

<script>
/* eslint-disable indent */
import Vue from 'vue';
import Vuex from 'vuex';
import TitleBar from '@/components/TitleBar.vue'
import rate from 'vue-rate';
Vue.use(rate)

export default {
    name: "movie-details",
    data: function () {
        return {
            loading: true,
            movie: null
        }
    },
    components: {TitleBar},
    validate ({ params }) {
        // Doit être un nombre
        //return /^\d+$/.test(params.id)
        return params && params.id !== null
    },
    computed: {
        ...Vuex.mapGetters([])
    },
    methods: {
        fetchMovieDetails: function () {
            this.loading = true;
            theMovieDb.movies.getById({ id: this.$route.params.id }, (res) => {
                res = JSON.parse(res);
                console.log(res);
                this.loading = false;
                this.movie = res;
            }, (err) => {
                this.loading = false;
                console.error('ERR', err)
            })
        },
        getImageUrl: function (m) {
            return theMovieDb.common.getImage({ size: 'w780', file: m.poster_path });
        },
        getMovieGenres: function (m) {
            let genres = [];
            m.genres.map(g => {
                genres.push(g.name)
            });
            return genres;
        },
        getMovieProductionCompanies: function (m) {
            let items = [];
            m.production_companies.map(g => {
                items.push(g.name)
            });
            return items;
        },
        getMovieSpokenLangs: function (m) {
            let items = [];
            m.spoken_languages.map(g => {
                items.push(g.name)
            });
            return items;
        }
    },
    mounted: function () {
        this.fetchMovieDetails();
    }

}
</script>

<style scoped>
    .left-side, .right-side {
        padding: 25px;
        margin: 2% auto;
    }

    .left-side img {
        width: auto;
        height: 75vh;
    }
    .sub-text {
        border-left: 1px dotted #fb0000;
        padding-left: 20px;
    }
    .text-dark {
        color: #bebebe !important;
    }

    table {
        max-width: 100%;
        background-color: transparent;
    }

    .Rate {
        display: inline-block;
    }
    .detailed {
        width: 100%;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(51, 51, 51);
        border-image: initial;
        border-radius: 3px;
        padding: 14px 20px;
    }
    .imdb {
        float: right;
    }
</style>
