<template>
	<div>
		<b-row class="window-bar">
			<b-col cols="10"><h5 class="app-title">
				<img src="/icons/24x24.png" width="30" height="30" alt="logo">
				STREAMER - <small>By Hermanho (hdemsongtsamo@gmail.com)</small></h5></b-col>
			<b-col style="text-align: right">
				<div class="option align-self-center" @click="minimize"> <i class="fa fa-minus"></i> </div>
				<div class="option align-self-center" v-if="maximized" @click="resize"><i class="fa fa-window-restore"></i></div>
				<div class="option align-self-center" v-if="!maximized" @click="resize"><i class="fa fa-square-o"></i></div>
				<div class="option align-self-center" @click="close"><i class="fa fa-close"></i></div>
			</b-col>
		</b-row>
		<nuxt/>
	</div>
</template>
<script>
require('../api/themovieDb');
import { ipcRenderer } from 'electron'
export default {
	name: 'layout',
	data: function () {
		return {
		    maximized: true
		}
	},
	methods: {
	    close: function () {
			ipcRenderer.send('close-app', {});
		},
	    minimize: function () {
			ipcRenderer.send('minimize-app', {});
		},
	    resize: function () {
			ipcRenderer.send('resize-app', {});
			this.maximized = !this.maximized;
		},
	}
}
</script>
<style>
	.window-bar {
		padding: 5px;
		background-color: #353535;
		-webkit-app-region: drag;
	}

	.window-bar .option {
		display: inline-block;
		margin-left: 1px;
		margin-right: 10px;
		cursor: pointer;
		width: 25px;
		height: 25px;
		padding: 0;
		text-align: center;
		-webkit-app-region: no-drag;
	}

	.window-bar .option:hover {
		background-color: red;
	}

	.app-title {
		margin-left: 15px;
	}
</style>

