<template>
    <section class="container-fluid">
        <title-bar :showBackBtn="false" :showSearch="true" @search="searchByTitle"></title-bar>
        <top-categories></top-categories>
        <main-container :searchTitle="searchTitle"></main-container>
    </section>
</template>

<script>
import TitleBar from '@/components/TitleBar.vue'
import TopCategories from '@/components/TopCategories';
import MainContainer from '@/components/MainContainer';

export default {
	name: 'home',
	data: function () {
	    return {
			searchTitle: null
		}
	},
	components: {
		TopCategories,
		TitleBar,
		MainContainer
	},
	methods: {
		searchByTitle: function (t) {
		    this.searchTitle = t;
		}
	},
	mounted: function () {
		theMovieDb.configurations.getConfiguration((res) => {
			//console.log(res)
		}, (err) => {
			console.log(err)
		})
	}
}
</script>

<style scoped>
    .container {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .btn {
        margin: 0 8px;
    }

    .title-bar {
        position: relative;
        margin-bottom: 0;
    }
</style>
