<template>
    <div @mousemove="showHeader">
        <title-bar :showBackBtn="true" v-show="headerVisible"></title-bar>
        <player :movieId="$route.params.id" @mousemove="showHeader"></player>
    </div>
</template>

<script>
import Player from '@/components/Player.vue'
import TitleBar from '@/components/TitleBar.vue'
let global_timeout = null;
export default {
	name: "player-page",
	components: { Player, TitleBar },
	data: function () {
		return {
			headerVisible: false
		}
	},
	methods: {
		showHeader: function () {
			this.headerVisible = true;
			clearTimeout(global_timeout);
			global_timeout = setTimeout(() => {
				this.headerVisible = false;
			}, 3000);
		}
	}
}
</script>
<style>
    .title-bar {
    }
</style>
<style scoped>

</style>
