<template>
    <div class="movie-card">
        <nuxt-link :to="{name: 'movies-id', params: { id: movie.id} }">
            <div class="movie-header manOfSteel" :style="{ backgroundImage: 'url(' + getImageUrl(movie) + ')' }">
                <div class="header-icon-container">
                    <a href="#">
                        <i class="fa fa-3x fa-play header-icon"></i>
                    </a>
                </div>
            </div><!--movie-header-->
            <div class="movie-content">
                <div class="movie-content-header">
                    <a href="#">
                        <h3 class="movie-title">{{ movie.title || movie.original_title || 'N/A' }}</h3>
                    </a>
                    <div class="imax-logo"></div>
                </div>
                <div class="movie-info">
                    <div class="info-section">
                        <label>Release Date</label>
                        <span>{{ movie.release_date }}</span>
                    </div><!--date,time-->
                    <div class="info-section">
                        <label>Vote AVG.</label>
                        <span>{{ movie.vote_average }}</span>
                    </div><!--screen-->
                    <div class="info-section">
                        <label>Adult</label>
                        <span>{{ movie.adult ? 'Yes' : 'No' }}</span>
                    </div><!--row-->
                    <div class="info-section">
                        <label title="Popularity">Pop.</label>
                        <span>{{ movie.popularity }}</span>
                    </div><!--seat-->
                </div>
            </div><!--movie-content-->
        </nuxt-link>

    </div>
</template>

<script>
export default {
	name: "MovieCard",
	props: ["movie"],
	methods: {
		getImageUrl: function (m) {
			return theMovieDb.common.getImage({ size: 'original', file: m.poster_path });
		}
	}
}
</script>

<style scoped>
    .movie-card {
        background: #ffffff;
        box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 260px;
        margin: 1.2em;
        border-radius: 10px;
        display: inline-block;
        color: black;
    }
    .movie-header {
        padding: 0;
        margin: 0;
        height: 200px;
        width: 100%;
        display: block;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .header-icon-container {
        position: relative;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    .header-icon {
        width: 100%;
        height: 367px;
        line-height: 367px;
        text-align: center;
        vertical-align: middle;
        margin: 0 auto;
        color: #ffffff;
        font-size: 54px;
        text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
        opacity: .85;
    }
    .movie-content {
        padding: 18px 18px 24px 18px;
        margin: 0;
    }
    .movie-content-header, .movie-info {
        display: table;
        width: 100%;
    }
    .imax-logo {
        width: 50px;
        height: 15px;
        background: url(https://6a25bbd…-9626a8b….ssl.cf5.rackcdn.com/media_kit/3e27ede….jpg) no-repeat;
        background-size: contain;
        display: table-cell;
        float: right;
        position: relative;
        margin-top: 5px;
    }
    .movie-info {
        margin-top: 1em;
    }
    .movie-content-header, .movie-info {
        display: table;
        width: 100%;
    }
    .info-section:first-of-type {
        text-align: left;
    }
    .info-section {
        display: table-cell;
        text-transform: uppercase;
        text-align: center;
    }
    .info-section label {
        display: block;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: .5em;
        font-size: 9px;
    }
    .info-section span {
        font-weight: 700;
        font-size: 11px;
    }
    .info-section {
        display: table-cell;
        text-transform: uppercase;
        text-align: center;
    }
    .info-section label {
        display: block;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: .5em;
        font-size: 9px;
    }
    .info-section span {
        font-weight: 700;
        font-size: 11px;
    }
    .movie-title {
        font-size: 24px;
        margin: 0;
        display: table-cell;
    }
    .movie-card:hover {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
    }
    .manOfSteel {
        background: url(http://henrycavill.org/images/Films/2013-Man-of-Steel/posters/3-Walmart-Superman-a.jpg);
        background-size: cover;
    }
</style>
