<template>
    <div>
        <nuxt-link :to="{name: 'movies-id', params: { id: movie.id} }">
            <b-media tag="div">
                <b-img slot="aside" :src="getImageUrl(movie)" width="100" height="100" alt="placeholder" />
                <h5 class="mt-0 mb-1">{{ movie.title || movie.original_title || 'N/A' }}</h5>
                <p _v-b-tooltip.hover :title="movie.overview"><small>{{ movie.overview.substr(0, 100) + ' ...' }}</small></p>
            </b-media>
        </nuxt-link>
    </div>
</template>

<script>
export default {
	name: "MovieList",
	props: ['movie'],
	methods: {
		getImageUrl: function (m) {
			return theMovieDb.common.getImage({ size: 'w154', file: m.poster_path });
		}
	}
}
</script>

<style scoped>
    *, *:before, *:after {
        box-sizing: inherit;
    }
    a {
        text-decoration: none;
        color: #fff;
    }

    .media {
        margin-bottom: 20px;
    }

    .media:hover {
        transform: rotateY(10deg);
    }
</style>
